/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../../src/sass/app/mainwindowview/mainwindowview.scss */
#main {
  margin-top: 40px;
}
/* line 3, ../../src/sass/app/mainwindowview/mainwindowview.scss */
#main #toolbar {
  float: left;
  padding: 50px 20px 20px 20px;
  width: 250px;
  z-index: 9999;
}
/* line 9, ../../src/sass/app/mainwindowview/mainwindowview.scss */
#main #canvas {
  float: left;
  position: relative;
}
/* line 12, ../../src/sass/app/mainwindowview/mainwindowview.scss */
#main #canvas .element {
  position: absolute;
}
/* line 14, ../../src/sass/app/mainwindowview/mainwindowview.scss */
#main #canvas .element.selected {
  outline: dashed 1px #000;
}

/* line 3, ../../src/sass/app/toolbar/toolbar.scss */
#toolbar .element-details .add-on {
  font-size: 12px;
  padding: 0 3px;
  width: 40px;
  overflow: hidden;
}
/* line 9, ../../src/sass/app/toolbar/toolbar.scss */
#toolbar .element-details input {
  font-size: 12px;
  width: 70px;
  padding: 0 3px;
}
