/* line 3, ../../../../src/sass/app/toolbar/toolbar.scss */
#toolbar .element-details .add-on {
  font-size: 12px;
  padding: 0 3px;
  width: 50px;
  overflow: hidden;
}
/* line 9, ../../../../src/sass/app/toolbar/toolbar.scss */
#toolbar .element-details input {
  font-size: 12px;
  width: 70px;
  padding: 0 3px;
}
/* line 14, ../../../../src/sass/app/toolbar/toolbar.scss */
#toolbar .element-details .remove-element {
  font-size: 12px;
  padding: 0 4px;
}
