#toolbar {
  .element-details {
    .add-on {
      font-size: 12px;
      padding:0 3px;
      width: 40px;
      overflow: hidden;
    }
    input {
      font-size: 12px;
      width: 70px;
      padding:0 3px;
    }
  }
}